body{
    display: block;
    justify-content: center;
    font-family: "Monaco", monospace;
    background-color: whitesmoke;
}

#title-line{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

#game-tools{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    justify-content: center;
}

.tool-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 100%, 50%);
    border-radius: 10px;
    border: 3px solid hsl(200, 100%, 40%);
    height: 100px;
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.tool-btn:hover{
    background-color: hsl(200, 100%, 60%);
}

.flip7-players-container{
    display: grid;
    /*border: 2px solid dodgerblue;*/
    row-gap: 2px;
}

.flip7-player{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.2fr;
    flex-grow: 1;
    min-width: 0;
    gap: 2px;
}

.flip7-player-name{
    flex-grow: 1;
    font-family: "Monaco", monospace;
    font-size: 1em;
    min-width: 200px;
    /*border: 2px solid orange;*/
}

.flip7-player-total, .flip7-player-hand{
    display: flex;
    flex-shrink: 1;
    /*flex: 0 1 1fr;*/
    font-family: "Monaco", monospace;
    font-size: 1em;
    text-align: center;
    min-width: 0;
    /*border: 2px solid orange;*/
}

.flip7-player-controls{
    margin-top: 10px;
    height: 25px;
    display: grid;
    grid-template-columns: 7fr 1fr;
    justify-content: center;
    gap: 2px;
}

.flip7-add-player{
    font-family: "Monaco", monospace;
    font-size: 1em;
    text-align: center;
}

.flip7-add-player-count{
    min-width: 0;
    padding: 0;
    font-family: "Monaco", monospace;
    font-size: 1em;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
