body{
    display: block;
    justify-content: center;
    font-family: "Monaco", monospace;
    background-color: whitesmoke;
}

#title-line{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

#game-tools{
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    justify-content: center;
}

.tool-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 100px;
    color: white;
    font-size: 2em;
    text-decoration: none;
}
