html, body{
    display: block;
    justify-content: center;
    font-family: "Monaco", monospace;
    background-color: hsl(220 20% 20%);
    color: white;
    overflow-x: hidden;
    max-width: 100%;
}

h1{
    color: white;
}

#title-line{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

#game-tools{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    justify-content: center;
}

.tool-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.tool-btn:hover{*/
/*    background-color: hsl(200, 100%, 60%);*/
/*}*/

.flip7-btn{
    background-color: hsl(200, 100%, 50%);
    border: 3px solid hsl(200, 100%, 40%)
}

.flip7-btn:hover{
    background-color: hsl(200, 100%, 60%);
}

.catan-btn{
    background-color: hsl(147, 50%, 50%);
    border: 3px solid hsl(147, 50%, 40%);
}

.catan-btn:hover{
    background-color: hsl(147, 50%, 60%);
}

.mistborn-btn{
    background-color: hsl(201, 20%, 50%);
    border: 3px solid hsl(201, 20%, 40%);
}

.mistborn-btn:hover{
    background-color: hsl(201, 20%, 60%);
}

.disable-dbl-tap-zoom{
    touch-action: manipulation;
}