.resources{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
    /*border: 1px solid red;*/
}

.resource-container{
    display: flex;
    width: 100%;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border: 1px solid dodgerblue;*/
}

.resource-buttons{
    z-index: 1;
    min-width: 0;
    gap: 2px;
    /*border: 1px solid green*/
}

.resource-card{
    position: relative;
    display: grid;
    text-align: center;
}

.resource-image{
    /*border: 1px solid orange;*/
    grid-area: 1 / 1;
    width: 100%;
    border-radius: 5px;
}

.adjust-resource{
    width: 100%;
    background-color: hsla(0, 0%, 50%, .1);
    font-size: 3em;
    color: hsla(0, 0%, 60%, .1);
    border-radius: 5px;
    border: 5px solid hsla(0, 0%, 60%, .1);
}

.resource-count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: "Monaco", monospace;
    font-weight: bold;
    min-width: 0;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0);
    border: hsla(0, 0%, 0%, 0);
    color: white;
    -webkit-text-stroke: 2px black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}